// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */
$blue: #3498db;
$belize: #2980b9;
$midnightBlue: #2c3e50;
$silver: #bdc3c7;

@keyframes buttonWiggle {
    0% { transform: rotate(4deg); }
    25% { transform: rotate(-4deg); }
    50% { transform: rotate(4deg); }
    75% { transform: rotate(-4deg); }
    100% { transform: rotate(4deg); }
}

@keyframes largeButton {
    0% { width: 100%; }
    50% { width: 90%; margin-left: 5%; }
    100% { width: 100%; }
}

html {
    height: 100%;
}

body {
    background: $blue;
    background: linear-gradient(to bottom, $blue, $belize);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    margin: 50px 0;
    padding: 50px 100px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 2px 4px 2px $midnightBlue;   
    h1 {
        text-align: center;
        text-shadow: 0px 1px 1px black;
        letter-spacing: 1.1px;
        margin-bottom: 20px;
    }
    #new_entry {
        margin-bottom: 20px;
        input[type="text"] {
            width: 75%;
            display: inline;
        }
        input[type="submit"] {
            display: inline;
            margin-left: 10px;
            width: 20%;
        }
    }
    #entries {
        margin-bottom: 20px;
        list-style: none;
        li {
            padding: 20px 0;
            border-bottom: 1px solid $blue;
            width: 90%;
            .winner {
                float: right;
            }
        }
    }
    #draw {
        width: 100%;
    }
}

.btn {
    background: linear-gradient(to bottom, $blue, $belize);
    border: $belize;
    box-shadow: 0 3px 0px $midnightBlue; 

    &:hover {
        animation: buttonWiggle 1s infinite;
    }
}

.btn#draw {
    &:hover {
        animation: largeButton 1s infinite;
    }
}
